.main_container-active-block{
    position: relative;
    width: 280px;
    height: 52px;
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #F2F2F3;
    
    img{
        width: 64px;
        height: 52px;
    }
    .main_container-active-block-left{
        display: flex;
        justify-content: space-between;
        .main_container-active-block-text{
            width: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 5px;
            h5, span{
                font-weight: 400;
                font-size: 12px;
            }
            span{
                margin: 3px 0;
                color: #B1B1B1;
            }
        }
    }
    
    .main_container-acitve-block-calc{
        position: absolute;
        right: 0;
        width: 84px;
        height: 40px;
        padding: 0 5px;
        background-color: #F2F2F3;
        border-radius: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        button{
            width: 20px;
            height: 20px;
            border: none;
            border-radius: 50%;
            background-color: inherit;
            transition: 1s;
        }
        button:hover{
            transition: 1s;
            background-color: #95959589;
        }

    }
}
.cross{
    position: absolute;
    top: -25px;
    right: 10px;
    transform: rotate(45deg);
    cursor: pointer;
}