main {
  background-color: #f2f2f3;
  .main_container {
    width: 1440px;
    margin: auto;
    padding-top: 5%;
    display: flex;
    justify-content: space-between;
    .main_container-left {
      width: 30%;
      margin-top: 60px;
    }
    .main_container-right {
      width: 70%;
      font-family: Arial, Helvetica, sans-serif;

      .main_container-right-blocks {
        display: flex;
        flex-wrap: wrap;
        margin-top: 23px;
      }
    }
  }
}
